@charset "UTF-8";
/* CSS Document */

/*body {
	background: url(../pic/bk.png)  repeat-x #ababab;
	}*/

#ta01 {
	border:1px solid #ccc;

	}

#ta01 tr {
	border:0px solid #ccc;
    font-size:13pt;

	}

#ta01 td {
	border:1px solid #ccc;
	}


#ta02 tr {
	border:0px solid #ccc;
	}
#ta02 td {
	border:1px solid #eee;
	}



	 #add01{
		 margin:0 auto;
		 width:190px;
		 height:160px;;
		 background: none;
		 border:0px solid #eeeeee;
		 float:none;
		 vertical-align:middle;
		 text-align:center;

		 }
		 
		 #addpic{
		 width:190px;
		 height:140px;
		 background: none;
		 border:0px solid #ccc;
         float:left;
		 text-align:center;
		 }
		 
		 #addpic img{
         max-width:190px;
         width:expression(this.width>190?"190px":this.width);
         max-height:140px;
         height:expression(this.height>140?"140px":this.height);		 	 
		 border:0px solid #ccc;
		 }
		 
		 
#uppic
{
	width:65px;
	height:65px;
	background:none;
	margin:5px;
	float:none;
	border:0px solid #cccccc;
}

#uppic img
{
max-width:65px;
width:expression(this.width>65?"65px":this.width);
max-height:65px;
height:expression(this.height>65?"65px":this.height);
border:0px solid #ccc;
}


#but01{
	border:1px solid #000;
	font-size:11pt;
	background:#ccc;
	font:#fff;
	}
	
.select01 { 
       background: transparent;
	   width: 268px;
	   padding: 5px;
	   font-size: 16px;
	   border: 1px solid #ccc;
	   height: 30px;
	   -webkit-appearance: none; /*for chrome*/  }
	
	
	